
@section TitleSection
{
    Fifth Generation
}
@section MainSection
{
<body>
    <div id="homefullbody">
        <h3>Fifth Generation books</h3>
        <div class="homepage">
            <p><a href="/books/list">Book List</a></p>
            <p><a href="/books/search">Book Search</a></p>
            <p> <a href="/books/addition">Book Add</a></p>
        </div>
    </div>
</body>
}
